backend/.env
backend/src/models/__pycache__
backend/src/agents/lead_agent/__pycache__
backend/tests/agents/lead_agent/__pycache__
backend/src/agents/middlewares/__pycache__
backend/src/agents/__pycache__
backend/src/config/__pycache__/__init__.cpython-312.pyc
backend/src/config/__pycache__/app_config.cpython-312.pyc
backend/src/config/__pycache__/model_config.cpython-312.pyc
backend/src/config/__pycache__/tool_config.cpython-312.pyc
backend/src/reflection/__pycache__/__init__.cpython-312.pyc
backend/src/reflection/__pycache__/resolvers.cpython-312.pyc
backend/src/tools/__pycache__/__init__.cpython-312.pyc
backend/src/tools/__pycache__/tools.cpython-312.pyc
backend/src/tools/builtiins/__pycache__/__init__.cpython-312.pyc
backend/src/tools/builtiins/__pycache__/ask_clarification_tool.cpython-312.pyc
